{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="/css/erreur.css">
{% endblock %}


{% block body %}
<br><br><br><br><br><h1>Erreur : {{ messageDErreur }}</h1>
{% endblock %}
