{% extends 'base-tableau-de-bord.html.twig' %}
{% block title %}Accueil du tableau de bord{% endblock %}
 {% block contenu %}
		<section class="section-1">
			<h1>Accueil du tableau de bord de l'association <b>{{ association.nom }}</b></h1>
			<p>Sur AssoFriends, vous disposez d'outils pour faire vivre votre association !
			Vous pouvez par exemple ajouter des adhérents à votre association,
			consulter la liste de vos adhérents, ou encore leur envoyer un e-mail en masse.</p>
		</section>
	
{% endblock %}
