{% extends 'base-tableau-de-bord.html.twig' %}
{% block title %}Envoyer un e-mail{% endblock %}
{% block contenu %}

{% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/css/ajout_adherent.css">
{% endblock %}

<section class="section-1">
  <h1>Envoyer un e-mail</h1>
  {% if message %}<p>{{ message }}</p>{% endif %}
  {{ form(formulaire) }}
</section>
{% endblock %}
